body {
  color: #FFF;
  font-family: Roboto;
  text-align: center;
  background: url("http://www.hd-wallpapersdownload.com/upload/bulk-upload/desktop-happy-fox-wallpaper-dowload.jpg");
  background-size: cover;
  text-align: center;
  list-style-type: none;
  background-color: #525252;

nav {
	color: #fff;
	text-decoration: none;
	font-style: italic;
	margin-right: 10px;
}

}
p {
  color: #FFF;
  font-size: 22px;
}
hr {
   width: 225px;
}

footer {
	font-size: 12px;
	text-align: center;
	bottom: 0;
	font-color:#fff;
}